@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* PRIMARY COLORS */

$primary-SoftRed: hsl(7, 99%, 70%);
$primary-Yellow: hsl(51, 100%, 49%);
$primary-DarkDesaturatedcyan: hsl(167, 40%, 24%);
$primary-DarkBlue: hsl(198, 62%, 26%);
$primary-DarkModeratecyan: hsl(168, 34%, 41%);

/* NEUTRAL COLORS */

$neutral-Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$neutral-Verydarkgrayishblue: hsl(213, 9%, 39%);
$neutral-Darkgrayishblue: hsl(232, 10%, 55%);
$neutral-Grayishblue: hsl(210, 4%, 67%);
$neutral-White: hsl(0, 0%, 100%);

/* FONTS */

$ff-barlow: 'Barlow';
$ff-fraunces: 'Fraunces';

/* TITLES H2 for articles */

@mixin articleh2title {
    font-size: 2rem;
    font-family: $ff-fraunces;
    text-align: center;
    margin: 2rem;
    color: $neutral-Verydarkdesaturatedblue;
    font-weight: 900;
}

/* Paragraph for articles */

@mixin articlep {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 1rem;
    font-family: $ff-barlow;
    color: $neutral-Darkgrayishblue;
    line-height: 2rem;
}

/* Titles H3 for articles */

@mixin articleh3 {
    font-family: $ff-fraunces;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    color: $neutral-Verydarkdesaturatedblue;
    font-weight: 900;
    margin-bottom: 2rem;
}

/* Titles H2 for section */ 

@mixin sectionh2($color) {
    font-size: 1.8rem;
    padding-top: 100%;
    text-align: center;
    font-family: $ff-fraunces;
    font-weight: 900;
    color: $color;
}

/* Paragraph for section */

@mixin sectionp($color) {
    color: $color;
    font-family: $ff-barlow;
    font-size: 1rem;
    text-align: center;
    padding: 2rem;
    line-height: 1.6rem;
    padding-bottom: 10%;
}

/* Style for imgDeco */
@mixin deco {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
}

/* Header/Navigation */

.body {
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    background-image: url("/images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 42rem;
    width: 100%;
    align-items: center;
    &__nav  {
        position: relative;
        padding: 2rem 2.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        &__navbar {
            display: none;
            &.shown {
                display: flex;
                position: absolute;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem;
                background-color: $neutral-White;
                width: 65%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 20%);
                &::before{
                    content:'';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top:-20px;
                    right:0;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 0 30px 30px;
                    border-color: transparent transparent $neutral-White transparent;
                    transform: rotate(0deg);
                }
                &:after {
                    position: absolute;
                    margin-top: -25%;
                    right: 0;
                    width: 0;
                    height: 0;
                    transform: translate(0, 10%);
                    background-color: transparent;
                    border-left: 40px solid transparent;
                    border-bottom: 40px solid transparent;
                    border-top: 40px solid transparent;
                    border-right: 40px solid $neutral-White;
                }
            }
            &__list {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                justify-content: space-evenly;
                list-style: none;
                &__itemlist {
                    text-align: center;
                    &__link {
                        text-align: center;
                        text-decoration: none;
                        color: &$neutral-Grayishblue;
                        font-family: $ff-barlow;
                        transition: text-transform 0.2s ease, background-color 0.2s ease, border 0.2s ease;
                        color: $neutral-Grayishblue;
                        &:active, &:focus {
                            text-transform: uppercase;
                            color: $neutral-Verydarkdesaturatedblue;
                            background-color: $primary-Yellow;
                            font-family: $ff-fraunces;
                            border: .8rem solid $primary-Yellow;
                            border-radius: 2rem;
                        }
                    }
                }
            }
        }
    }

    
    .fa-solid {
        color: $neutral-White;
    }
    &__h1   {
        font-size: 2.4rem;
        color: $neutral-White;    
        text-transform: uppercase;
        font-family: $ff-fraunces;
        letter-spacing: .4rem;
        text-align: center;
    }
    &__arrowImg {
        margin: 0 auto;
        margin-top: 10rem;
        height: 18%;
        width: 2.2rem;
        align-items: center;
        display: flex;
    }
}

  /* Articles */
.main {
    &__articletransform {
        &__img {
            width: 100%;
        }
        &__cont {
            &__h2 {
                @include articleh2title;
            }
            &__p {
                @include articlep;
            }
            &__h3 {
                @include articleh3;
                &__a {
                    text-decoration: none;
                    text-decoration: none;
                    color: $neutral-Verydarkdesaturatedblue;
                    margin-left: 0.5rem;
                    position: relative;
                    &:after, &:before {
                        content: ''; /* Ajoutez du contenu généré via pseudo-élément */
                        display: block;
                        position: absolute;
                        bottom: -.2rem; /* Ajustez cette valeur pour contrôler la position de la barre */
                        height: .6em; 
                        background-color: hsl(51, 100%, 49%, 0.2);
                        border-radius: 8px;        
                        bottom: -3px;
                        left: -5%;
                        width: 112%;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.3s ease;
                    }
                    &:after {
                        content: '';
                        right: 0;
                    }
                    &:hover:after, &:hover:before {
                        transform: scaleX(1);
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
    &__articleaudience {
        &__img {
            width: 100%;
        }
        &__cont {
            &__h2 {
                @include articleh2title;
            }
            &__p {
                @include articlep;
            }
            &__h3 {
                @include articleh3;
                &__a {
                    text-decoration: none;
                    text-decoration: none;
                    color: $neutral-Verydarkdesaturatedblue;
                    margin-left: 0.5rem;
                    position: relative;
                    &:after, &:before {
                        content: ''; /* Ajoutez du contenu généré via pseudo-élément */
                        display: block;
                        position: absolute;
                        bottom: -.2rem; /* Ajustez cette valeur pour contrôler la position de la barre */
                        height: .6em; 
                        background-color: hsl(7, 99%, 70%, 0.2);
                        border-radius: 8px;        
                        bottom: -3px;
                        left: -5%;
                        width: 112%;
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.3s ease;
                    }
                    &:after {
                        content: '';
                        right: 0;
                    }
                    &:hover:after, &:hover:before {
                        transform: scaleX(1);
                        transition: transform 0.3s ease;
                    }
                }
            }
        }
    }
}

    /* Sections */

    .contsection {
        &__sectiongraphic {
        background-image: url("/images/mobile/image-graphic-design.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &__h2 {
            @include sectionh2($primary-DarkDesaturatedcyan);
        }
        &__p {
            @include sectionp($primary-DarkDesaturatedcyan);
        }
    }
        &__sectionphotography {
            background-image: url("/images/mobile/image-photography.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        &__h2 {
            @include sectionh2($primary-DarkBlue);
        }
        &__p {
            @include sectionp($primary-DarkBlue);
        }
    }
}

/* Testimonials */

.testimonials {
    &__h4 {
        letter-spacing: .2rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: $ff-fraunces;
        text-align:center;
        padding: 2.5rem;
        color: $neutral-Grayishblue;
    }
    &__profiles {
        &__articletestimonials {
            padding-bottom: 5rem;
            text-align: center;
            &__img {
                border-radius: 100%;
                height: 5rem;
            }
            &__p {
                margin-top: 1rem;
                @include articlep;
            }
            &__author {
                &__h3 {
                    @include articleh3;
                    text-transform:none;
                    margin-bottom: -.8rem;
                }
                &__footerUser {
                    color: $neutral-Grayishblue;
                    font-family: $ff-barlow;
                }
            }
        }
    }
}
.imgDeco {
    display: grid;
    height: 25rem;
    width: 100%;
    &__leite {
        background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
        @include deco();
        grid-area: 1 / 1 / 2 / 2;
    }
    &__orange {
        background-image: url(/images/mobile/image-gallery-orange.jpg);
        @include deco();
        grid-area: 1 / 2 / 2 / 3;
    }
    &__cornet {
        background-image: url(/images/mobile/image-gallery-cone.jpg);
        @include deco();
        grid-area: 2 / 1 / 3 / 2;
    }
    &__sugar {
        background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
        @include deco();
        grid-area: 2 / 2 / 3 / 3;
    }
}



    /* Footer */

.footer {
    background-color: $primary-DarkModeratecyan;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 4rem 1.2rem;
    text-align: center;
    align-items: center;
    &__logo {
        fill: $primary-DarkDesaturatedcyan;
    }
    &__list {
        display: flex;
        flex-direction: row;
        gap: 3.1rem;
        list-style-type: none;
        a {
            text-decoration: none;
            color: $primary-DarkDesaturatedcyan;
            font-family: $ff-barlow;
            font-weight: 900;
            &:hover {
                color: $neutral-White;
            }             
        }
    }
    &__socialmedias {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 2.3rem;
        list-style-type: none;
        fill: $primary-DarkDesaturatedcyan;
        &__facebook {
            &__link {
                &__svg {
                    &:hover {
                        fill: $neutral-White;
                        cursor: pointer;
                    }
                }
            }
        }
        &__instagram {
            &__link {
                &__svg {
                    &:hover {
                        fill: $neutral-White;
                        cursor: pointer;
                    }
                }
            }
        }
        &__twitter {
            &__link {
                &__svg {
                    &:hover {
                        fill: $neutral-White;
                        cursor: pointer;
                    }
                }
            }
        }
        &__pinterest {        
            &__link {
                &__svg {
                    &:hover {
                        fill: $neutral-White;
                        cursor: pointer;
                    }                
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .header{
        background-image: url(/images/desktop/image-header.jpg);
        &__nav {
            flex-direction: row;
            &__navbar {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                &__list {
                    flex-direction: row;
                    gap: 2.6rem;
                    margin-right: 2.8rem;
                    &__itemlist {
                        &__link {
                            color: $neutral-White;
                            font-size: .8rem;
                            &:active, &:focus {
                                text-transform: uppercase;
                                color: $neutral-Verydarkdesaturatedblue;
                                background-color: $neutral-White;
                                font-family: $ff-fraunces;
                                Border: .8rem solid $neutral-White ;
                                border-radius: 2rem;
                            }
                        }
                    }
                }
            }
        }
        .fa-solid {
            display: none;
        }   
        &__arrowImg {
            margin-top: 2rem;
            align-items: center;
        }
    }
    
        .main {
        &__articletransform {
            flex-direction: row-reverse;
            display: flex;
            &__img {
                background-image: url(/images/desktop/image-transform.jpg);  
                width: 50%; 
                height: 50%;
                max-width: 100%;
            }
            &__cont {
                box-sizing: border-box;
                display: flex;
                flex-direction: column; /* Ajustement pour centrer verticalement le contenu */
                justify-content: center;
                padding: 0 2rem;
                &__h2 {
                    font-size: 1.6rem;
                    text-align: left;
                    margin: 0.8em 0;
                    padding: 0rem;
                }
                &__p {
                    font-size: 1rem;
                    text-align: left;
                    margin: 1em 0;
                    padding: 0rem;
                }
                &__h3 {
                    font-size: 0.9rem;
                    text-align: left;
                    margin: 1em 0;
                    padding: 0rem;
                }
            }
        }
    
        &__articleaudience {
            flex-direction: row;
            display: flex;
            &__img {
                background-image: url(/images/desktop/image-stand-out.jpg);
                width: 50%; 
                height: 50%;
                max-width: 100%;
            }
            &__cont {
                box-sizing: border-box;
                display: flex;
                flex-direction: column; /* Ajustement pour centrer verticalement le contenu */
                justify-content: center;
                padding: 0 1rem;
                &__h2 {
                    font-size: 1.6rem;
                    text-align: left;
                    margin: .8em 0;
                    padding: 0rem;
                    }
                &__p {
                    font-size: 1rem;
                    text-align: left;
                    margin: 1em 0;
                    padding: 0rem;
                    }
                &__h3 {
                    font-size: 0.9rem;
                    text-align: left;
                    margin: 1em 0;
                    padding: 0rem;
                }
            }
        }
    }
 

    .contsection {
        display:flex;
        height: 32rem;
        &__sectiongraphic {
            background-image: url(/images/desktop/image-graphic-design.jpg);
            flex: 1;
            &__h2 {
                padding-top: 20rem;
            }
        }
        &__sectionphotography {
            background-image: url(/images/desktop/image-photography.jpg);
            flex: 1;
            &__h2 {
                padding-top: 20rem;
            }
        }
    }
    .imgDeco {
        display: flex;
        height: 30rem;
        width: 100%
        &__leite {
            background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
        }
        &__orange {
            background-image: url(/images/desktop/image-gallery-orange.jpg);
        }
        &__cornet {
            background-image: url(/images/desktop/image-gallery-cone.jpg);
        }
        &__sugar {
            background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
        }
    }

    .testimonials {
            padding: 0 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 10rem 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        &__h4 {
            grid-area: 1 / 2 / 2 / 3;
            padding-top: 5rem;
        }
        &__profiles {
            grid-area: 2 / 1 / 3 / 4;
            flex-direction: row;
            display: flex;
            padding-bottom: 6rem;
            &__articletestimonials {
                padding: 0;
                display: inline-block;
                vertical-align: top;
                flex-direction: row;
            }
        }
    }
}

@media only screen and (min-width: 980px) {
    .main {
        &__articletransform {
            &__cont {
                padding: 3.8rem;
                &__h3 {
                    padding-left: 0.2rem;
                }
            }
        }
    
        &__articleaudience {
            &__cont {
                padding: 3.8rem;
                &__h3 {
                    padding-left: 0.2rem;
                }
            }
        }
    }
    .header {
        &__nav {
            &__navbar {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                &__list {
                    display: flex;
                    flex-direction: row;
                    gap: 2.6rem;
                    justify-content: space-evenly;
                    margin-right: 2.8rem;
                }
            }
        }
    }
}

